<div style="padding: 20px 20px 20px 0" class="text-end">
  <nz-breadcrumb style="font-weight: bold">
    <nz-breadcrumb-item>
      <a
        (click)="
          router.navigate(['users'], { state: { data: 'localRoute' } })
        "
        style="color: #3f51b5"
        ><i nz-icon nzType="home"></i> Dashboard
      </a>
    </nz-breadcrumb-item>
    <nz-breadcrumb-item> Users </nz-breadcrumb-item>
  </nz-breadcrumb>
</div>

<nz-card nzTitle="Users List " class="p-pb-5">

  <div class="row">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 scroll">
      <div class="card">
        <div class="body">
          <div class="materialTableHeader">
            <div class="row">
              <div class="col d-flex justify-content-between">
                <div>
                  <div
                    class="m-l-10"
                    matTooltip="Filter"
                    style="margin-left: 10px"
                  >
                    <button
                      mat-mini-fab
                      class="p-0"
                      style="background-color: rgb(110, 106, 106)"
                      (click)="isToggeled = !isToggeled"
                    >
                      <mat-icon>filter_list</mat-icon>
                    </button>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!----------------------  Users filters ------------------------------>
          <div
            [ngStyle]="{
              'max-height': isToggeled ? '300px' : '0px',
              overflow: isToggeled ? 'hidden' : 'hidden'
            }"
            style="transition: all 0.9s ease-in-out; overflow: hidden"
          >
            <div class="row py-3 px-4">
              <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                <!-- Search by id -->
                <mat-form-field class="example-full-width" appearance="fill">
                  <input
                    matInput
                    placeholder="Search by ID"
                    #input
                    (keyup)="searchInput$.next(input.value)"
                  />
                  <mat-icon matPrefix>search</mat-icon>
                  <button
                    *ngIf="input.value"
                    matSuffix
                    mat-icon-button
                    aria-label="Clear"
                    (click)="input.value = ''; searchInput$.next('')"
                  >
                    <mat-icon>close</mat-icon>
                  </button>
                </mat-form-field>
              </div>
              <div class="col d-flex h-50 justify-content-end mt-1">
                <!-- <button test-id="resetButton" mat-raised-button class="mx-1 btn-reset "
                  (click)="clearSearch()">Reset</button> -->
              </div>
            </div>
          </div>

          <table
            mat-table
            [dataSource]="dataSource"
            class="mat-elevation-z8"
            style="z-index: 5"
            *ngIf="dataSource?.data.length > 0; else emptyState"
          >
            <!-- id Column -->
            <ng-container matColumnDef="id">
              <th mat-header-cell *matHeaderCellDef>id</th>
              <td mat-cell *matCellDef="let row">
                {{ row?.id }}
              </td>
            </ng-container>
            <!-- id Column -->
            <ng-container matColumnDef="#">
              <th mat-header-cell *matHeaderCellDef>#</th>
              <td mat-cell *matCellDef="let i = index">
                {{ page * size + (i + 1) }}
              </td>
            </ng-container>
            <!-- Image Column -->
            <ng-container matColumnDef="image">
              <th mat-header-cell *matHeaderCellDef>Image</th>
              <td mat-cell *matCellDef="let row">
                <img [src]="row.avatar" alt="User Image" class="user-avatar" />
              </td>
            </ng-container>

            <!-- Employee Name Column -->
            <ng-container matColumnDef="name">
              <th mat-header-cell *matHeaderCellDef>User Name</th>
              <td mat-cell *matCellDef="let row">
                {{
                  row?.first_name + " " + (row?.last_name ? row?.last_name : "")
                }}
              </td>
            </ng-container>

            <!-- email Columns  -->
            <ng-container matColumnDef="email">
              <th mat-header-cell *matHeaderCellDef>email</th>
              <td mat-cell *matCellDef="let row">
                {{ row?.email }}
              </td>
            </ng-container>

            <!-- Actions Column -->
            <ng-container matColumnDef="actions">
              <th mat-header-cell *matHeaderCellDef>Actions</th>
              <td mat-cell *matCellDef="let row">
                <button mat-icon-button color="accent" (click)="Viewprofile(row)" >
                  <mat-icon>visibility</mat-icon>
                </button>
              </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
            <div
              class="d-flex flex-column align-items-center justify-content-center text-center"
              *matNoDataRow
            ></div>
          </table>

          <div class="d-flex justify-content-center">
            <mat-paginator
              #paginator
              [pageSize]="10"
              [length]="totalElements"
              [pageSizeOptions]="[5, 10, 25, 100]"
              [pageIndex]="page"
              [pageSize]="size"
              showFirstLastButtons
              (page)="handlePagtnation($event)"
            ></mat-paginator>
          </div>
        </div>
      </div>
    </div>
  </div>
</nz-card>
<ngx-ui-loader></ngx-ui-loader>

<ng-template #emptyState>
  <nz-empty
    class="col-lg-12 text-center "
    nzNotFoundImage="https://gw.alipayobjects.com/zos/antfincdn/ZHrcdLPrvN/empty.svg"
    [nzNotFoundContent]="'This ID Not Fount '"
  ></nz-empty>
</ng-template>
